body{
    background-image: url(img/pixel_bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* background-color: #6D6D6D; */
}
div[class='row']{
    border-radius: 25px;
    border: solid black;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
}