a{
    color: red;
}
input[type="checkbox"]{
    opacity: 0;
    width: 0;
    margin: 0;
}
label[for="alpha"], label[for="to_tw"]{
    display: inline-block;
    position: relative;
    left: -10px;
    margin-bottom: 10px;
    padding-left: 26px;
    background: url(img/no_checked.png) no-repeat;
    line-height: 24px;
    cursor: pointer;
}
input:checked + label[for="alpha"],
input:checked + label[for="to_tw"]{
    background: url(img/checked.png) no-repeat;
    color: #ce1010;
}